<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    <ul>

        {% block content %}
        {% if books %}
        {% for book in books %}

        <li>

            <p>Title: {{ book.title }} | Author: {{ book.author }} | Rating: {{ book.rating }} <a href="{{ url_for('edit', id=book.id) }}">Edit Rating</a> | <a href="{{ url_for('delete', id=book.id) }}">Delete Book</a> </p> 

        </li>

        {% endfor %}
        {% else %}
        <h3>Library is empty.</h3>
        {% endif %}
        {% endblock %}

    </ul>
    
<a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>